<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Quem somos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-label>
        <section id="description">
          <p style="text-align: center;"><strong>A AM Fun Turismo &eacute; uma ag&ecirc;ncia de turismo receptivo na cidade de Criciúma. E foi Fundada com o prop&oacute;sito de tornar realidade os planos de viagem dos nossos clientes que visita a todo Brasil.</strong></p>
          <p style="text-align: center;">&nbsp;</p>
          <p style="text-align: center;"><strong>Com atua&ccedil;&atilde;o no mercado desde 2023. E com&nbsp; passagens por grandes empresas.&nbsp;</strong></p>
          <p style="text-align: center;">&nbsp;</p>
          <p style="text-align: center;"><strong>Entendemos que cada cliente &eacute; &uacute;nico, e possui necessidades espec&iacute;ficas, por isto prestamos todo apoio, do come&ccedil;o ao fim!</strong></p>
          <p style="text-align: center;">&nbsp;</p>
          <p style="text-align: center;"><strong>Cuidaremos de todos os detalhes para que voc&ecirc; comece a relaxar muito antes da sua pr&oacute;xima viagem.</strong></p>
          <p style="text-align: center;">&nbsp;</p>
          <p style="text-align: center;"><strong>Seja bem vindo a AM Fun Turismo!</strong></p>
          </section>
      </ion-label>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-icon name="airplane"></ion-icon>
  </ion-fab>
</ion-content>